# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# Keep the example environment file
!.env.example

# -----------------------------
# Python Packaging
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# MyPy
# -----------------------------
.mypy_cache/

# -----------------------------
# Docker
# -----------------------------
docker-compose.override.yml
