fastapi
uvicorn
gunicorn

sqlalchemy
psycopg2-binary
pgvector

pydantic
pydantic-settings

python-jose
passlib
bcrypt

python-multipart
email-validator

requests

sentence-transformers
transformers
torch
huggingface_hub

numpy
scipy
