fastapi
uvicorn
gunicorn

sqlalchemy
psycopg2-binary
qdrant-client

pydantic
pydantic-settings

python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart
email-validator

requests

sentence-transformers
transformers
torch
huggingface_hub

numpy
scipy
